::-webkit-scrollbar {
  width: 0;
}

h1 {
    font-family: ChopinScript;
    color: white;
    font-size: 2rem;
    text-shadow: 5px 6px 2px #4d5b5b;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 60%, transparent);
    z-index: 3;
    font-weight: 100;
    position: relative;
    bottom: 0.5rem;
    
}

.caja {
position: relative;
bottom: 100px;
text-align: justify;
z-index: 2;
background: #cb984bd5;
background: linear-gradient(90deg, #cb984bd5 0%, 
rgba(205, 172, 108, 0.888) 48%, 
#cb984bd5);
  outline: none;
  border-radius: 50px;
  padding-top: 8%;
  padding-bottom: 22%;
  padding-left: 8%;
  padding-right: 8%;
  margin-top: 14%;
  width: 20rem;
  height: 10rem;;
  font-family: ChopinScript;
  text-shadow: 0px 0px 12px #4d5b5b;
  color: #ffffffd2;
  box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
  

}

body{
    background-image: url(arbol-de-navidad.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: grid;
    place-items: center;
    width: 100%;
}

.texto {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 10px;
    text-shadow: 5px 2px 2px #4d5b5b;
    font-size: 0.5rem;
    width: 100%;
}

.texto1 {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 10px;
    text-shadow: 5px 2px 2px #4d5b5b;
    font-size: 0.5rem;
    width: 100%;
}

.texto2 {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 10px;
    text-shadow: 5px 2px 2px #4d5b5b;
    font-size: 0.5rem;
    width: 100%;
}

.texto3 {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 10px;
    text-shadow: 5px 2px 2px #4d5b5b;
    font-size: 0.5rem;
    width: 100%;
}

.texto4 {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 10px;
    text-shadow: 5px 2px 2px #4d5b5b;
    text-align: center;
    font-size: 1.2rem;
    width: 100%;
}

.texto5 {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 10px;
    text-shadow: 5px 2px 2px #4d5b5b;
    text-align: center;
    font-size: 0.7rem;
    width: 100%;
}


@font-face {
    font-family: ChopinScript;
    src: url(ChopinScript.ttf);
}



.snowflake {
  position: absolute;
  width: 14px;
  height: 14px;
  opacity: 0.8;
  animation: fall 10s linear 1;
  top: -5%;
  z-index: 3;
}

@keyframes fall {
    
  0%{
      transform: translateX(0) translateY(-10vh) rotate(0deg);
  }

  25% {
      transform: translateX(10px) translateY(20vh) rotate(0deg);
  }
    
  50%{
    transform: translateX(20px) translateY(50vh) rotate(180deg);
  }

  75% 
  {
    transform: translateX(0px) translateY(100vh) rotate(180deg);
  }
  100%{
    transform: translateX(-20px) translateY(150vh) rotate(180deg);
    opacity: 0.5;
  }
}

.polaroid {
  position: relative;
  top: 5rem;
  border-radius: 1%;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 
  inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
  display: inline-block;
  width: 20rem;
  padding: 0.6rem; 
}

.polaroid img {
  display: block; 
  width: 100%; 
  height: auto;
  border-radius: 1%;
  
}

.caption {
  text-align: center;
  padding: 0 0;
  font-family: ChopinScript;
  font-size: 2em;
  margin-top: 0.6rem;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 90%, transparent);
  color: black;
  text-shadow: 12px 6px 1px #bebebe;
}



.boton-enlace {
    display: inline-block; /* Para poder posicionarlos y aplicar transform */
    padding: 1rem 1rem;
    border: none;
    color: rgb(255, 0, 0);
    text-decoration: none; /* Quita el subrayado del enlace */
    border-radius: 50%;
    margin: 1rem;
    height: 0.1rem;
    width: 0.1rem;
    cursor: pointer;
    /* Importante para que las posiciones absolutas se controlen */
    position: relative; 
    text-align:center;
    align-items: center;
    outline: none;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.boton1 {
    /* Ejemplo 1: Mover ligeramente hacia abajo y a la derecha */
    bottom: 5rem;
    left: 7.4rem;
    
    
}

.boton2 {
    /* Ejemplo 2: Mover más abajo y a la izquierda */
    bottom: 0.55rem;
    left: 4rem;
}

.boton3 {
    /* Ejemplo 3: Usando transform para un movimiento relativo */
    /* Puedes usar transform: translate(x, y); */
    bottom: 9rem;
    right: 0.8rem;
}

.boton4 {
    /* Ejemplo 4: Posición absoluta dentro de un contenedor (¡Ojo! Requiere un contenedor con position: relative) */
    /* Si no hay contenedor, se posicionará respecto al body */
    position: relative;
    bottom: 9.7rem;
    right: 8.5rem;
}

.boton5 {
    /* Ejemplo 5: Otro desplazamiento */
    bottom: 7.2rem;
    right: 5.7rem;
}

/* Efecto hover */
.boton-enlace:hover {
    background: radial-gradient(farthest-side, transparent 80%, rgba(255, 255, 255, 0.275) );
    box-shadow: 6px 6px 8px rgba(10, 10, 10, 0.788); /* Sombra que resalta */
    transform: scale(1.05); /* Efecto al pasar el ratón */
    transition: background-position 0.5s ease;
}

.kaja{
position: relative;
top: 60px;
z-index: 2;
background: #cb984bd5;
background: linear-gradient(90deg, #cb984bd5 0%, 
rgba(205, 172, 108, 0.888) 48%, 
#cb984bd5);
  outline: none;
  border-radius: 50px;
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 30%;
  font-size: 0.9rem;
  width: 14rem;
  height: 6rem;
  font-family: ChopinScript;
  text-shadow: 2px 2px 3px #4d5b5b;
  color: #ffffffd2;
  box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
  
}

.exp1{
  text-align: center;
  font-size: 1rem;
  padding-bottom: 10px;
}

.inicio {
text-decoration: none;
position: relative;
bottom: -150px;
margin-bottom: 5%;
z-index: 2;
background: #cb984bd5;
background: linear-gradient(90deg, #cb984bd5 0%, 
rgba(205, 172, 108, 0.888) 48%, 
#cb984bd5);
  outline: none;
  border-radius: 50px;
  border: 2px solid hsla(36, 55%, 55%, 0.835);
  padding-top: 30%;
  padding-bottom: 30%;
  padding-left: 30%;
  padding-right: 30%;
  font-size: 1rem;
  width: 500px;
  height: 200px;
  right:0.9rem;
  font-family: ChopinScript;
  text-shadow: 2px 2px 3px #4d5b5b;
  color: #ffffffd2;
  box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
    
  
}

#reproductor {
  position: relative;
  z-index: 4;
}

::-webkit-media-controls-panel {
    background-color: #cb984bd5;
    border-radius: 50px;
      box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
}
::-webkit-media-controls-play-button {
    background-color: #ffffff;
    border-radius: 50px;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 70%, transparent);
}