::-webkit-scrollbar {
  width: 0;
}

h1 {
    font-family: ChopinScript;
    color: white;
    font-size: 100px;
    text-shadow: 5px 6px 2px #4d5b5b;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 60%, transparent);
    z-index: 3;
    font-weight: 100;
    position: relative;
    top: 150px;

}

.caja {
position: relative;
bottom: 100px;
text-align: justify;
z-index: 2;
background: #cb984bd5;
background: linear-gradient(90deg, #cb984bd5 0%, 
rgba(205, 172, 108, 0.888) 48%, 
#cb984bd5);
  outline: none;
  border-radius: 50px;
  padding-top: 5%;
  padding-bottom: 15%;
  padding-left: 8%;
  padding-right: 10%;
  margin-top: 10%;
  width: 1200px;
  height: 350px;
  font-family: ChopinScript;
  text-shadow: 0px 0px 12px #4d5b5b;
  color: #ffffffd2;
  box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
  

}

.texto {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 10px;
    text-shadow: 5px 2px 2px #4d5b5b;
    font-size: 32px;
    
}

.texto1 {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 10px;
    text-shadow: 5px 2px 2px #4d5b5b;
    font-size: 32px;
}

.texto2 {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 10px;
    text-shadow: 5px 2px 2px #4d5b5b;
    font-size: 30px;
}

.texto3 {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 10px;
    text-shadow: 5px 2px 2px #4d5b5b;
    font-size: 32px;
}

.texto4 {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 10px;
    text-shadow: 5px 2px 2px #4d5b5b;
    text-align: center;
    font-size: 64px;
}

.texto5 {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 10px;
    text-shadow: 5px 2px 2px #4d5b5b;
    text-align: center;
    font-size: 48px;
}


@font-face {
    font-family: ChopinScript;
    src: url(fuentes/ChopinScript.ttf);
}

body{
    background-image: url(arbol-de-navidad.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: grid;
    place-items: center;
}

.snowflake {
  position: absolute;
  width: 14px;
  height: 14px;
  opacity: 0.8;
  animation: fall 10s linear 1;
  top: -5%;
  z-index: 3;
}

@keyframes fall {
    
  0%{
      transform: translateX(0) translateY(-10vh) rotate(0deg);
  }

  25% {
      transform: translateX(10px) translateY(20vh) rotate(0deg);
  }
    
  50%{
    transform: translateX(20px) translateY(50vh) rotate(180deg);
  }

  75% 
  {
    transform: translateX(0px) translateY(100vh) rotate(180deg);
  }
  100%{
    transform: translateX(-20px) translateY(150vh) rotate(180deg);
    opacity: 0.5;
  }
}

.polaroid {
  position: relative;
  top: 150px;
  border-radius: 1%;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 
  inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
  display: inline-block;
  width: 900px;

  margin: 20px;
  padding: 30px; 
}

.polaroid img {
  display: block; 
  width: 100%; 
  height: auto;
  border-radius: 1%;
  
}

.caption {
  text-align: center;
  padding: 10px 0;
  font-family: ChopinScript;
  font-size: 100px;
  margin-top: 40px;
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 90%, transparent);
  color: black;
  text-shadow: 12px 6px 1px #bebebe;
}



.boton-enlace {
    display: inline-block; /* Para poder posicionarlos y aplicar transform */
    padding: 20px 20px;
    border: none;
    color: rgb(0, 0, 0);
    text-decoration: none; /* Quita el subrayado del enlace */
    border-radius: 50%;
    margin: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    /* Importante para que las posiciones absolutas se controlen */
    position: relative; 
    text-align:center;
    align-items: center;
    outline: none;
    transition: box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.boton1 {
    /* Ejemplo 1: Mover ligeramente hacia abajo y a la derecha */
    bottom: 525px;
    left: 170px;
    
    
}

.boton2 {
    /* Ejemplo 2: Mover más abajo y a la izquierda */
    bottom: 320px;
    left: 100px;
}

.boton3 {
    /* Ejemplo 3: Usando transform para un movimiento relativo */
    /* Puedes usar transform: translate(x, y); */
    bottom: 705px;
    right: 33.8px;
}

.boton4 {
    /* Ejemplo 4: Posición absoluta dentro de un contenedor (¡Ojo! Requiere un contenedor con position: relative) */
    /* Si no hay contenedor, se posicionará respecto al body */
    position: relative;
    bottom: 735px;
    right: 305px;
}

.boton5 {
    /* Ejemplo 5: Otro desplazamiento */
    bottom: 630px;
    right: 93px;
}

/* Efecto hover */
.boton-enlace:hover {
    background: radial-gradient(farthest-side, transparent 80%, rgba(255, 255, 255, 0.275) );
    box-shadow: 6px 6px 8px rgba(10, 10, 10, 0.788); /* Sombra que resalta */
    transform: scale(1.05); /* Efecto al pasar el ratón */
    transition: background-position 0.5s ease;
}

.kaja{
position: relative;
top: 60px;
z-index: 2;
background: #cb984bd5;
background: linear-gradient(90deg, #cb984bd5 0%, 
rgba(205, 172, 108, 0.888) 48%, 
#cb984bd5);
  outline: none;
  border-radius: 50px;
  padding-top: 5%;
  padding-bottom: 7%;
  padding-left: 7%;
  padding-right: 5%;
  margin-top: 10%;
  font-size: 32px;
  width: 500px;
  height: 200px;
  font-family: ChopinScript;
  text-shadow: 2px 2px 3px #4d5b5b;
  color: #ffffffd2;
  box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
  
}

.exp1{
  text-align: center;
  font-size: 48px;
  padding-bottom: 10px;
}

.inicio {
text-decoration: none;
position: relative;
bottom: -200px;
margin-bottom: 5%;
z-index: 2;
background: #cb984bd5;
background: linear-gradient(90deg, #cb984bd5 0%, 
rgba(205, 172, 108, 0.888) 48%, 
#cb984bd5);
  outline: none;
  border-radius: 50px;
  border: 2px solid hsla(36, 55%, 55%, 0.835);
  padding-top: 30%;
  padding-bottom: 30%;
  padding-left: 30%;
  padding-right: 30%;
  font-size: 36px;
  width: 500px;
  height: 200px;
  font-family: ChopinScript;
  text-shadow: 2px 2px 3px #4d5b5b;
  color: #ffffffd2;
  box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
    
  
}