::-webkit-scrollbar {
  width: 0;
}

body{
    background-image: url(arbol-de-navidad.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
    display: grid;
    place-items: center;
    width: 100%;
}

.snowflake {
  position: absolute;
  width: 13px;
  height: 13px;
  opacity: 0.8;
  animation: fall 10s linear 1;
  top: -5%;
  z-index: 3;
}

@keyframes fall {
    
  0%{
      transform: translateX(0) translateY(-10vh) rotate(0deg);
  }

  25% {
      transform: translateX(10px) translateY(20vh) rotate(0deg);
  }
    
  50%{
    transform: translateX(20px) translateY(50vh) rotate(180deg);
  }

  75% 
  {
    transform: translateX(0px) translateY(100vh) rotate(180deg);
  }
  100%{
    transform: translateX(-20px) translateY(150vh) rotate(180deg);
    opacity: 0.5;
  }
}

@font-face {
    font-family: ChopinScript;
    src: url(ChopinScript.ttf);
}

h1{
    font-family: ChopinScript;
    color: white;
    font-size: 2rem;
    text-shadow: 5px 6px 2px #4d5b5b;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 60%, transparent);
    z-index: 3;
    font-weight: 100;
    position: relative;
    top: 11rem;
    left: 7.5rem;
    
}

.caja {
position: relative;
bottom: 150px;
text-align: justify;
z-index: 2;
background: #cb984bd5;
background: linear-gradient(90deg, #cb984bd5 0%, 
rgba(205, 172, 108, 0.888) 48%, 
#cb984bd5);
  outline: none;
  border-radius: 50px;
  padding-top: 5%;
  padding-bottom: 15%;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 10%;
  width: 24rem;
  height: 10rem;
  font-family: ChopinScript;
  text-shadow: 0px 0px 12px #4d5b5b;
  color: #ffffffd2;
  box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
  font-size: 1rem;
  top: 15%
}

img {
    position: relative;
    width: 8.7rem;
    height: 9rem;
    box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
    border: 2px solid #cb984bd5;
    border-radius: 15%;
    left: 7.5rem;
    bottom: 9.8rem;
    z-index: 4;
}

.boton1{
position: relative;
text-decoration: none;

z-index: 2;
background: #cb984bd5;
background: linear-gradient(90deg, #cb984bd5 0%, 
rgba(205, 172, 108, 0.888) 48%, 
#cb984bd5);
  outline: none;
  border-radius: 50px;
  border: 2px solid #cb984bd5;
  padding-top: 10%;
  padding-bottom: 15%;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 1rem;
  width: 500px;
  height: 200px;
  font-family: ChopinScript;
  text-shadow: 2px 2px 3px #4d5b5b;
  color: #ffffffd2;
  box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
    right: 8rem;
  
}

.boton2{
position: relative;
text-decoration: none;
z-index: 2;
background: #cb984bd5;
background: linear-gradient(90deg, #cb984bd5 0%, 
rgba(205, 172, 108, 0.888) 48%, 
#cb984bd5);
  outline: none;
  border-radius: 50px;
  border: 2px solid #cb984bd5;
  padding-top: 10%;
  padding-bottom: 15%;
  padding-left: 15%;
  padding-right: 15%;
  font-size: qrem;
  width: 500px;
  height: 200px;
  font-family: ChopinScript;
  text-shadow: 2px 2px 3px #4d5b5b;
  color: #ffffffd2;
  box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
  left: 9rem;
  bottom:1.6rem;
}

.texto1 {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 0.5rem;
    padding-bottom: 0.3rem;
    text-shadow: 5px 2px 2px #4d5b5b;
    font-size: 0.5rem;
    
}

.texto2 {
   mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 0.5rem;
    padding-bottom: 0.3rem;
    text-shadow: 5px 2px 2px #4d5b5b;
    font-size: 0.5rem;
}

.texto3 {
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 0.5rem;
    padding-bottom: 0.3rem;
    text-shadow: 5px 2px 2px #4d5b5b;
    font-size: 0.5rem;
}

.texto4 {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 0.5rem;
    padding-bottom: 0.3rem;
    text-shadow: 5px 2px 2px #4d5b5b;
    font-size: 0.5rem;
}

.texto5 {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 0.5rem;
    padding-bottom: 0.3rem;
    text-shadow: 5px 2px 2px #4d5b5b;
    font-size: 0.5rem;
}

.texto6 {
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 0.5rem;
    padding-bottom: 0.3rem;
    text-shadow: 5px 2px 2px #4d5b5b;
    font-size: 0.5rem;
}

.texto7{
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 0.5rem;
    padding-bottom: 0.3rem;
    text-shadow: 5px 2px 2px #4d5b5b;
    font-size: 0.5rem;
}

.texto8{
  mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 45%, transparent);
    padding: 0.5rem;
    padding-bottom: 0.3rem;
    text-shadow: 5px 2px 2px #4d5b5b;
    font-size: 0.5rem;
}

#reproductor {
  position: relative;
  bottom: 0px; 
  z-index: 4;
}


::-webkit-media-controls-panel {
    background-color: #cb984bd5;
    border-radius: 50px;
      box-shadow:
    inset 0 0.3rem 0.9rem rgba(255, 255, 255, 0.3),
    inset 0 -0.1rem 0.3rem rgba(0, 0, 0, 0.7),
    inset 0 -0.4rem 0.9rem rgba(255, 255, 255, 0.5),
    0 3rem 3rem rgba(0, 0, 0, 0.3),
    0 1rem 1rem -0.6rem rgba(0, 0, 0, 0.8);
}
::-webkit-media-controls-play-button {
    background-color: #ffffff;
    border-radius: 50px;
    mask-image: linear-gradient(to bottom, rgb(0, 0, 0) 70%, transparent);
}